{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": false,
  "semi": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
